page-filter-calendar {
  .toolbar-md {
    display: none;
  }
  .content-md {
    background-color: rgba(0,0,0,0);
  }
  .toolbar-ios {
    display: none;
  }
  .content-ios {
    background-color: rgba(0,0,0,0);
  }
}
